:host {
  --primary: #3b013b;
  --primary-hover: #5e005e;
  --grey: #cccccc;

  display: block;
  font-family: sans-serif;
  border: 2px solid var(--grey);
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  border-radius: 0.3rem;
  max-width: 100%;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

input {
  font: inherit;
  line-height: 1rem;
  color: var(--primary);
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: 2px solid var(--grey);
}

input:focus {
  outline: none;
  border-color: var(--primary-hover);
}

button {
  font: inherit;
  line-height: 1rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  background-color: var(--primary);
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}

button:hover,
button:active,
button:focus {
  outline: 0;
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.pokemon {
  text-align: initial;
}

.pokemon img {
  max-width: 100%;
  max-height: 100%;
}

.pokemon .cancel {
  font-size: initial;
  font-weight: initial;
  color: initial;
  cursor: pointer;
}

.pokemon .cancel:hover {
  text-decoration: underline;
}
