:host {
  display: inline-block;
  position: relative;
}

#question {
  padding: 0 0.25rem;
  font-style: italic;
  border-bottom: 1px solid #333333;
}

#question-mark {
  font-family: sans-serif;
  display: inline-flex;
  width: 1.1rem;
  height: 1.1rem;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  background-color: #333333;
  color: #ffffff;
  transition: 0.15s background-color ease-in-out;
  cursor: pointer;
}

#question-mark:hover {
  background-color: #555555;
}

#answer {
  font-family: sans-serif;
  position: absolute;
  top: 1.5rem;
  right: 0;
  background-color: #333333;
  color: #ffffff;
  padding: 0.33rem;
  font-size: 0.8rem;
  border-radius: 0.33rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.15s opacity ease-in-out;
}

#answer.visible {
  opacity: 1;
  pointer-events: initial;
}
