.my-menu {
  display: block;
  border: 2px solid black;
  width: min(500px, 95vw);
}

.my-menu-options {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
  margin: 0;
}

.my-menu-option {
  display: block;
  background-color: #eee;
  padding: 1rem; 
  transition: 0.15s background-color ease-in-out;
}

.my-menu-option:hover {
  background-color: #d8d8d8;
}