:host(.menu) {
  display: inline-block;
}

.panel {
  min-width: min(300px, 100vw);
}

.panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.panel li {
  display: flex;
  align-items: stretch;
}

.panel button {
  border: 0;
  background-color: #ddd;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: 0.15s background-color ease-in-out;
}

.panel button:hover {
  background-color: #bbb;
}
